---
import banner from "../../../public/banner.png"

const redirectUrl = 'https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__XuZStxUMko5NFhDWDc3TkJJV1VZOFMxNVpVOFVENy4u';
const res = await fetch(redirectUrl);
---



<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전도콜센터 전도요청서</title>
    <link rel="icon" type="image/png" href="/OnnuriMission/onnuri_new-logo_V5.png" />
    <meta property="og:title" content="전도콜센터 전도요청서" />
    <meta property="og:description" content="온누리 전도콜센터" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../../public/banner.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta http-equiv="refresh" content="0;url=https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__XuZStxUMko5NFhDWDc3TkJJV1VZOFMxNVpVOFVENy4u" />
  </head>
  <body>
    <img src={banner.src} alt="온누리전도학교" style="width: 100%; margin-bottom: 2rem;" />
    <h1>전도콜센터 전도요청서</h1>
    <p>If you are not redirected automatically, follow this <a href={redirectUrl}>link to the form</a>.</p>
  </body>
</html>
