---
import Layout from "../layouts/Layout.astro";
import MissionCall from "../contents/mission-call.md";
---

<Layout title="온누리전도학교">
    <main>
        <MissionCall />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: .5rem 2.5rem;
        width: 1070px;
        max-width: calc(100% - 7rem);
        color: black;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #333;
        line-height: 1.6;
        border-radius: 10px;
    }
</style>
