---
const redirectUrl = 'https://forms.gle/jNZDfaBi54pH4sA77';
const res = await fetch(redirectUrl);
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온누리교회</title>
    <link rel="icon" type="image/png" href="/OnnuriMission/onnuri_new-logo_V5.png" />
    <meta property="og:url" content="https://jwc20.github.io/OnnuriMission/redirect1/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jwc20.github.io/OnnuriMission/kakao_banner2.webp" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:alt" content="Onnuri" />
    <meta property="og:type" content="website">

    <meta property="og:title" content="전도콜센터 전도요청서">
    <meta property="og:description" content="온누리교회">

    <meta http-equiv="refresh" content="0;url=https://forms.gle/jNZDfaBi54pH4sA77" />
  </head>
  <body>
    <h1>전도콜센터 전도요청서</h1>
    <p>If you are not redirected automatically, follow this <a href={redirectUrl}>link to the form</a>.</p>
  </body>
</html>
