---
import Footer from "../components/Footer.astro";
import banner from "../../public/banner.png"

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Onnuri Church" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/OnnuriMission/onnuri_new-logo_V5.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <img src={banner.src} alt="온누리전도학교" style="width: 100%; margin-bottom: 2rem;" />

        <slot />
        <div class="footer"><Footer /></div>
    </body>
</html>

<style is:global>
    html {
        font-family: "Noto Sans", sans-serif;
    }

    body {
        margin: auto;
        /* padding: 2rem 0; */
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 1000px) {
        body {
            font-size: 12px;
        }
    }

    .footer {
        font-size: 12px;
        text-align: center;
        margin-top: 2rem;
        color: rgba(0, 0, 0, 0.4);
        a {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    code {
        font-family: "Fira Code", monospace;
    }
</style>
